header {
    display: flex;
    color: #f9faf8;
    font-size: 24px;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    gap: 10px;
    color: #e5e7eb;
    font-size: 18px;
}

.title {
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;
}

.hero {
    background-color: #1F2937;
}

.body-one {
    display: flex;
    flex: 1;
    flex-wrap: wrap;

}

.subtext {
    color: #e5e7eb;
    display: flex;
    align-content: flex-end;

}

h4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

button {
    background-color: #3882f6;
    border-radius: 10px;
    border: 2px solid #3882f6;
}

